node_modules
build
dist
.cache
**/*.log
.env
docs/docs/api
docs/static/**/*.html.md
docs/static/llms.txt
docs/static/llms-full.txt
/test-results/
/playwright-report/
/playwright/.cache/
src/livecodes/i18n/locales/tmp/
lokalise_tmp
.caddy
