html,
body {
  direction: var(--uidir) !important;
}

iframe.knobsIframe {
  background: #111;
  border: 1px solid #252728 !important;
  border-radius: var(--rs);
  height: clamp(32px, var(--knobsHeight, 32px), 100%) !important;
  width: var(--knobsWidth, 32px) !important;
}

iframe.knobsIframe + html {
  background: #111 !important;
}

.color-picker {
  background: #151718 !important;
  color: var(--link);
}

.color-picker__swatch {
  border: 1px solid #445;
}

.color-picker__swatch > button[name='removeSwatch'] {
  background: #111;
  color: #ff2040;
  height: 10px;
  line-height: 10px;
  right: -6px;
  text-shadow: none;
  width: 10px;

  &:hover {
    background: #fff;
  }
}
