html[dir='rtl'] {
  #editors,
  #tools-pane,
  .custom-editor {
    direction: ltr;
  }

  #app-menu-container-project {
    right: 3rem;
  }

  #app-menu-container-settings {
    right: 7.35rem;
  }

  #app-menu-container-help {
    right: 13rem;
  }

  #app-menu-container-i18n {
    left: unset;
    right: 15rem;
  }

  @media only screen and (max-width: 1179px) {
    #app-menu-container-project {
      right: 3em;
    }

    #app-menu-container-settings {
      right: 5em;
    }

    #app-menu-container-help {
      right: 7em;
    }

    #app-menu-container-i18n {
      right: 8em;
    }
  }

  @media only screen and (max-width: 768px) {
    #app-menu-container-i18n {
      right: 8em;
    }
  }

  #app-menu-i18n {
    left: 15px;
    right: unset;
  }

  .tool-buttons#editor-tools {
    flex-direction: row-reverse;
  }

  .actions {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: var(--rs);
    border-top-left-radius: var(--rs);
    border-top-right-radius: 0;
  }

  i.arrow {
    left: -6px;
    transform: rotate(180deg);
  }

  .submenu {
    right: 98%;
  }

  .hint--left::after,
  .hint--left::before {
    left: 100%;
    right: unset;
  }

  .hint--right::after,
  .hint--right::before {
    left: unset;
    right: 100%;
  }

  #modal .close-button {
    left: 1.5rem;
    right: unset;
  }

  #modal select {
    background-position: 1% 50%;
  }

  .indent {
    margin-left: unset;
    margin-right: 1em;
  }

  select {
    background-position: 2% 50%;
  }

  .input-container .radio-label {
    padding-left: unset;
    padding-right: var(--s8);
  }

  .input-container > span {
    margin-left: 1.5em;
    margin-right: unset;
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'] + label,
    input[type='radio'] + label {
      margin-left: unset;
      margin-right: 4px;
    }
  }

  #share-screen ul li .share-image-container {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: var(--rs);
    border-top-left-radius: unset;
    border-top-right-radius: var(--rs);
    margin-left: var(--s16);
    margin-right: unset;
  }
}
