.multi-file {
  #toolbar {
    .toolbar-app {
      justify-content: unset;
    }

    .menu {
      justify-content: center;
      min-width: 32px;
      padding: 0;
    }

    .menu-text {
      display: none;
    }

    #select-editor {
      display: flex;
      max-width: calc(100vw - 480px);

      > div.editors-scroller {
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        width: unset;
      }

      .editor-scroll-btn {
        display: flex;
      }

      .editor-title > span {
        max-width: 13em;
      }
    }

    #add-file-button {
      align-items: center;
      border: 0;
      cursor: pointer;
      display: flex;
      margin-inline-end: 0;
      margin-top: -1px;
    }

    .toolbar-render {
      div:first-child {
        width: calc(100% - 32px);
      }
    }
  }

  @media only screen and (max-width: 768px) and (min-width: 481px) {
    #toolbar {
      #app-menu-button-help,
      #app-menu-button-i18n,
      #light-theme-button,
      #dark-theme-button {
        display: none !important;
      }

      #select-editor {
        max-width: calc(100vw - 210px);
      }
    }
  }

  @media only screen and (max-width: 480px) {
    #toolbar #select-editor {
      max-width: calc(100% - 8px);
    }
  }

  .embed {
    #toolbar #select-editor {
      max-width: calc(100vw - 120px);
    }

    #toolbar .toolbar-render a#result-button {
      display: none !important;
    }

    @media only screen and (max-width: 768px) {
      #toolbar #select-editor {
        max-width: calc(100vw - 80px);
      }
    }
  }

  .simple-mode {
    #toolbar {
      #add-file-button,
      .delete-file-button {
        display: none;
      }
    }
  }

  #info-container {
    label[for='head-textarea'],
    #head-textarea,
    label[for='html-attrs-textarea'],
    #html-attrs-textarea {
      display: none;
    }
  }

  #external-resources-btn {
    display: none;
  }

  #app-menu-project li:has(#external-resources-link) {
    display: none;
  }

  .binary-file-editor {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    input {
      display: none;
    }

    button {
      background: var(--btn-modal-bg-color);
      border: 1px solid var(--btn-modal-border-color);
      border-radius: var(--btn-modal-border-radius);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.176);
      color: var(--btn-modal-color);
      cursor: pointer;
      font-size: var(--btn-modal-font);
      padding: var(--s12) var(--s24);

      &:hover,
      &:active {
        background-color: var(--btn-modal-bg-active);
        color: var(--btn-modal-active);
      }

      &:active {
        transform: translateY(1px);
      }
    }

    a {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;

      img,
      video {
        max-height: 80%;
        max-width: 80%;

        &.icon {
          filter: invert(0.5);
          min-height: 80px;
        }
      }
    }
  }
}
