html,
body,
#livecodes {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body,
#livecodes {
  height: 100%;
  overflow: hidden;
}

#animating-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease-in-out;
  width: 100%;
}

.embed #animating-logo {
  transform: scale(0.8);
}

#animating-logo.hidden {
  opacity: 0;
}

#animating-logo > svg {
  position: absolute;
}

#loading-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  margin-bottom: -70px;
  margin-top: 50px;
}

@keyframes cube {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
@keyframes cube {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

.cube {
  animation: cube 2s infinite ease;
  animation: cube 2s infinite ease;
  height: 40px;
  transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 40px;
}

.cube div {
  background-color: rgba(255, 255, 255, 0.25);
  border: 3px solid grey;
  height: 100%;
  position: absolute;
  width: 100%;
}

.cube div:nth-of-type(1) {
  transform: translateZ(-20px) rotateY(180deg);
  transform: translateZ(-20px) rotateY(180deg);
}

.cube div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
  transform-origin: top right;
}

.cube div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
  transform-origin: center left;
}

.cube div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
  transform-origin: top center;
}

.cube div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
  transform-origin: bottom center;
}

.cube div:nth-of-type(6) {
  transform: translateZ(20px);
  transform: translateZ(20px);
}

#click-to-load {
  align-items: center;
  background-color: rgba(48, 48, 48, 0.05);
  cursor: pointer;
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: 2;
}

#click-to-load.visible {
  opacity: 1;
}

#click-to-load img {
  height: 135px;
  transform: scale(0.7);
  width: 200px;
}

#click-to-load-text {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgba(48, 48, 48, 0.5);
  border-radius: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8em;
  margin: 1em;
  padding: 0.3em;
  position: absolute;
  top: calc(50% + 50px);
}

.preview {
  border: 0;
  height: 100%;
  opacity: 0.1;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: 1;
}

.preview.hidden {
  opacity: 0;
}
