html,
body,
#livecodes {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body,
#livecodes {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
}

#livecodes {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 0.4s ease-in-out;
  width: 100%;
}

#loading img {
  height: 100px;
}

#loading-text,
.noscript {
  animation: pulsate 3s infinite;
  font-family: monospace;
  font-size: 1.3em;
  margin: 15px auto;
  position: relative;
  text-align: center;
}

.noscript {
  animation: none;
  color: red;
  font-weight: bold;
  max-width: 80vw;
}

.noscript::before {
  content: '\002718';
  padding-right: 0.5em;
}

#loading-text svg {
  height: 1em;
  left: -1.5em;
  position: absolute;
}

.embed #loading > * {
  transform: scale(0.8);
}

.embed #loading-text {
  padding: 0.3em;
}

.click-to-load {
  background-color: rgba(48, 48, 48, 0.05);
  cursor: pointer;
}

.click-to-load #loading-text {
  animation: none;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgba(48, 48, 48, 0.5);
  border-radius: 2px;
  padding: 5px;
}

@keyframes pulsate {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}
