html,
body,
#livecodes {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body,
#livecodes {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
}

#livecodes {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: opacity 0.4s ease-in-out;
  width: 100%;
}

#loading img {
  height: 100px;
}

#loading-text {
  animation: color-change 3s infinite;
  font-family: monospace;
  font-size: 1.3em;
  margin-left: 1.5em;
  margin-top: 15px;
}

.embed #loading > * {
  transform: scale(0.8);
}

.embed #loading-text {
  padding: 0.3em;
}

.click-to-load {
  background-color: rgba(48, 48, 48, 0.05);
  cursor: pointer;
}

.click-to-load #loading-text {
  animation: none;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgba(48, 48, 48, 0.5);
  border-radius: 2px;
  margin-left: 0;
  padding: 5px;
}

#dot1 {
  animation: dot1 3s infinite;
}

#dot2 {
  animation: dot2 3s infinite;
}

#dot3 {
  animation: dot3 3s infinite;
}

@keyframes color-change {
  0% {
    color: #b8b8b8;
  }

  15% {
    color: #999;
  }

  35% {
    color: #555;
  }

  50% {
    color: #000;
  }

  65% {
    color: #555;
  }

  85% {
    color: #999;
  }

  100% {
    color: #b8b8b8;
  }
}

@keyframes dot1 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes dot2 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes dot3 {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
