:root.light {

  --hue: 214;  // Hue from 0 to 360. 0=red, 120=green, and 214=blue.
  --st: 40%;  // Saturation
  --lt: 100%; // Lightness

  --color: hsl(var(--hue), var(--st), var(--lt));
  --color10: hsl(var(--hue), var(--st), calc(var(--lt) * 0.1)); // 10%
  --color15: hsl(var(--hue), var(--st), calc(var(--lt) * 0.15)); // 15%
  --color20: hsl(var(--hue), var(--st), calc(var(--lt) * 0.2)); // 20%
  --color25: hsl(var(--hue), var(--st), calc(var(--lt) * 0.25)); // 25%
  --color30: hsl(var(--hue), var(--st), calc(var(--lt) * 0.3)); // 30%
  --color40: hsl(var(--hue), var(--st), calc(var(--lt) * 0.4)); // 40%
  --color50: hsl(var(--hue), var(--st), calc(var(--lt) * 0.5)); // 50%
  --color60: hsl(var(--hue), var(--st), calc(var(--lt) * 0.6)); // 60%
  --color80: hsl(var(--hue), var(--st), calc(var(--lt) * 0.8)); // 80%
  --color85: hsl(var(--hue), var(--st), calc(var(--lt) * 0.85)); // 85%
  --color90: hsl(var(--hue), var(--st), calc(var(--lt) * 0.9)); // 90%
  --color95: hsl(var(--hue), var(--st), calc(var(--lt) * 0.95)); // 95%

  --darker-bg-color: var(--color40);
  --darker-bg-active: var(--color50);
  --darker-color: var(--color80);
  --darker-active: var(--color90);

  --dark-bg-color: var(--color85);
  --dark-bg-active: var(--color95);
  --dark-color: var(--color40);
  --dark-active: var(--color50);

  --link: var(--color40);
  --light: hsl(var(--hue), var(--st), var(--lt));

  --layout: var(--color90);
  --dropdown: var(--color95);
  --modal: var(--color95);
  --console-bg: var(--color10); // console
  --input-container: var(--color80);

  --disabled: 0.5; // opacity
  --gutter-split-bg-handle: var(--color40);

  --input-bg-color: hsl(214, 25%, 98%);
  --input-border-color: hsl(214, 13%, 90%);
  --input-color: hsl(214, 13%, 21%);
  --input-range-bg-color: var(--darker-bg-color);
  --input-switch-active: var(--color90);
  --input-switch-color: var(--color60);

  --modal-text-color: hsl(214, 13%, 21%);

  --tests-bg-color: inherit;
  --tests-color: inherit;
}
