* {
  margin: 0;
  padding: 0;
}

html,
body {
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background: transparent;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(121, 121, 121, 0.4);

  &:hover {
    background: rgba(151, 151, 151, 0.4);
  }

  &:active {
    background: rgba(191, 191, 191, 0.4);
  }
}

.centered {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #0164b4;

  &:visited {
    color: #0164b4;
  }

  &[target='_blank']:after {
    content: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="iso-8859-1"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 194.818 194.818" style="enable-background:new 0 0 194.818 194.818;" xml:space="preserve"><g><path d="M185.818,2.161h-57.04c-4.971,0-9,4.029-9,9s4.029,9,9,9h35.312l-86.3,86.3c-3.515,3.515-3.515,9.213,0,12.728 c1.758,1.757,4.061,2.636,6.364,2.636s4.606-0.879,6.364-2.636l86.3-86.3v35.313c0,4.971,4.029,9,9,9s9-4.029,9-9v-57.04	C194.818,6.19,190.789,2.161,185.818,2.161z"/><path d="M149,77.201c-4.971,0-9,4.029-9,9v88.456H18v-122h93.778c4.971,0,9-4.029,9-9s-4.029-9-9-9H9c-4.971,0-9,4.029-9,9v140 c0,4.971,4.029,9,9,9h140c4.971,0,9-4.029,9-9V86.201C158,81.23,153.971,77.201,149,77.201z"/></g></svg>');
    display: inline-block;
    width: 0.7em;
    margin: 0.3em;
    filter: invert(50%) sepia(3%) saturate(2476%) hue-rotate(189deg) brightness(95%) contrast(74%);
  }
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#toolbar {
  display: flex;
  height: 40px;
  width: 100%;
  border-bottom: 3px solid #444857;
  position: relative;
  background: #001b25;
  color: #eeeeee;

  #project-title {
    width: 30%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 10px;

    &.unsaved {
      &::after {
        content: ' *';
        white-space: pre;
        margin: 5px;
      }

      &::before {
        content: '* ';
        white-space: pre;
        margin: 5px;
        visibility: hidden;
      }
    }
  }

  #buttons {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    display: flex;
  }
}

@media only screen and (max-width: 1080) {
  .dropdown-menu {
    font-size: 0.9em;
  }

  #toolbar #project-title {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  #toolbar {
    #project-title {
      display: none;
    }

    #select-editor {
      width: calc(80% - 70px);
    }
  }

  #logo {
    margin: 3px 5px;
  }

  .dropdown-menu {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 480px) {
  #toolbar {
    font-size: 0.8em;

    #run-button {
      display: none;
    }
  }

  #editors #code-run-button {
    display: flex !important;
  }
}

#buttons > .button,
#editors #code-run-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  margin: auto;
  margin-top: 3px;
  width: 50px;
  height: 35px;
  border-radius: 3px;
  background-color: #5a6074da;
  cursor: pointer;
  outline: none;
}

#buttons > .button:hover,
#editors #code-run-button:hover {
  background-color: #777c8dda;
}

/* mouse down */

#buttons > .button:active:hover {
  background-color: #5a6074da;
}

#editors #code-run-button {
  &:active:hover {
    background-color: #5a6074da;
  }

  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.8;
}

#editor-container {
  display: flex;
  flex-direction: row;
  height: calc(100% - 40px);
}

#editors {
  background: #1e1e1e;
  height: 100%;
  resize: both;
  top: 0;
  overflow: hidden;
  position: relative;

  > div {
    height: 100%;
    width: 100%;
    resize: vertical;
    position: relative;
  }
}

.copy-button {
  display: none;
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 5px;
  border: 0;
  border-radius: 3px;
  background-color: #444855b0;
  color: #eeeeee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  cursor: pointer;
  outline: none;
}

#editors > div:hover .copy-button {
  display: unset;
}

#output {
  height: 100%;
  overflow: hidden;
}

#result {
  resize: both;
  max-height: calc(100% - 30px);

  iframe {
    height: 100%;
    width: 100%;
    border: 0;
  }
}

#tools-pane-bar {
  justify-content: space-between;
  color: #eeeeee;
  font-size: 12px;
  overflow: hidden;
}

#tools-pane-titles {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.tools-pane-title {
  cursor: pointer;
  background-color: #5c616e;
  margin-right: 2px;
  border-bottom: 3px solid #5c616e;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    border-bottom: 3px solid rgb(64, 169, 243);
  }
}

#tools-pane-buttons {
  min-width: 92px;
  text-align: right;
  white-space: nowrap;

  > div {
    white-space: nowrap;
  }
}

#tools-pane > div {
  display: flex;
  flex-direction: column;
  height: 0;

  /* (display: none) disables console logs when inactive */

  &.active {
    height: 100%;
  }
}

#console {
  overflow: auto;
  background-color: #efefef;

  .luna-object-viewer {
    overflow: hidden;
  }

  .luna-console-input pre.luna-console-code {
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }
}

#console-input-indicator {
  color: rgb(64, 169, 243);
  padding-top: 2px;
}

#compiled-code {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.gutter {
  &.gutter-vertical {
    cursor: ns-resize;
  }

  &.gutter-horizontal {
    cursor: ew-resize;
  }

  background-color: #444857;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;

  #handle {
    width: 4px;
    height: 30px;
    border-radius: 2px;
    background-color: #e7e8f1;
  }
}

#editor-container .gutter #size-label {
  opacity: 0;
  transition: opacity 0.1s;
  position: absolute;
  top: 5px !important;
  left: 15px !important;
  white-space: nowrap;
  background-color: #eeeeee;
  font-size: 0.7em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #5c616e;

  &.visible {
    opacity: 100%;
    transition: opacity 0.1s;
  }
}

#logo {
  width: 50px;
  margin: 3px 10px;
  padding: 0;

  a {
    text-decoration: none;
  }
}

#select-editor {
  position: relative;
  color: #eeeeee;
  margin: 0;
  height: 100%;
  width: calc(50% - 70px);

  > ul {
    margin: 0;
    width: 100%;
    height: 40px;
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}

li.editor-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border: 2px solid #444857;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 32%;
  cursor: pointer;

  &.half-width {
    width: 48%;
  }

  &.active {
    background-color: #444857;

    > .language-menu-button {
      background-color: #001b25d3;

      &:hover {
        background-color: #213c46d3;
      }
    }
  }

  > .language-menu-button {
    position: absolute;
    right: 5%;
    text-decoration: none;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 3px;
    background-color: #5a6074da;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #777c8dda;
    }
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 12px);
  max-width: calc(100% - 12px);
  padding: 5px 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

li.editor-title {
  .menu-scroller {
    top: 35px;
    right: -6px;
    width: calc(100% + 18px);
    min-width: 150px;
    max-width: 45vw;
  }

  > .language-menu-button:focus + .menu-scroller {
    display: block;
    animation: fadeIn 0.4s forwards;

    .dropdown-menu {
      display: block;
      animation: fadeIn 0.4s forwards;
    }
  }
}

#settings-menu-container:hover {
  display: block;
  animation: fadeIn 0.4s forwards;
}

#settings-button {
  &:focus + .menu-scroller,
  &:active + .menu-scroller,
  &:focus + .menu-scroller .dropdown-menu,
  &:active + .menu-scroller .dropdown-menu {
    display: block;
    animation: fadeIn 0.4s forwards;
  }
}

#settings-menu:hover {
  display: block;
  animation: fadeIn 0.4s forwards;
}

.dropdown-menu li {
  > * {
    display: block;
    text-decoration: none;
    color: #222;
    padding: 5px 15px;
  }

  &:hover {
    background-color: #e7e8f1;
  }
}

.menu-scroller {
  display: none;
  position: absolute;
  top: 40px;
  right: 10px;
  height: calc(100vh - 40px);
  width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &.hidden {
    display: none !important;
  }
}

.dropdown-menu > li {
  > * {
    display: block;
    text-decoration: none;
    color: #222;
    padding: 5px 15px;
  }

  &:hover {
    background-color: #e7e8f1;
  }
}

.menu-scroller::-webkit-scrollbar {
  width: 5px;
}

#settings-menu {
  top: 0;
  right: 0;
  left: unset;
  margin-top: 0;
  width: 250px;
  max-width: 45vw;

  li {
    position: relative;

    > {
      * {
        position: relative;
      }

      a,
      label {
        margin-left: 7px;
      }
    }
  }
}

.submenu {
  display: none !important;
  position: absolute !important;
  right: 98%;
  left: unset;
  top: 0;
  margin: 0 !important;
  padding: 0 !important;
}

#open-link:hover + #open-list,
#open-list:hover {
  display: block !important;
}

#settings-menu {
  a:hover + .submenu,
  i:hover + a + .submenu {
    display: block !important;
  }
}

.submenu:hover {
  display: block !important;
}

i.arrow {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px 15px 10px 10px;
  position: absolute !important;
  left: 3px;
  top: 0.5em;
  text-decoration: none;
  color: grey;

  &.left {
    transform: rotate(180deg);
  }

  &:before {
    border-right: 2px solid;
    content: '';
    display: block;
    height: 0.4em;
    margin-top: -0.3em;
    position: absolute;
    transform: rotate(135deg);
    right: 0.5em;
    top: 50%;
    width: 0;
  }

  &:after {
    border-right: 2px solid;
    content: '';
    display: block;
    height: 0.4em;
    margin-top: -0.3em;
    position: absolute;
    transform: rotate(135deg);
    right: 0.5em;
    top: 50%;
    width: 0;
    margin-top: -1px;
    transform: rotate(45deg);
  }
}

@media only screen and (max-width: 768px) {
  #settings-menu li > {
    a,
    label {
      margin-left: 3px;
    }
  }

  i.arrow {
    top: 0.4em;
  }
}

.switch {
  cursor: pointer;

  div {
    position: absolute;
    display: block;
    width: 34px;
    height: 18px;
    right: 1em;
    top: 0.4em;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: '';
      height: 14px;
      width: 14px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      transition: 0.4s;
    }
  }

  input {
    &:checked + .slider {
      background-color: #2196f3;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }

    &:checked + .slider:before {
      transform: translateX(16px);
    }
  }

  .slider.round {
    border-radius: 16px;

    &:before {
      border-radius: 50%;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlayfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.7;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlayfadeOut {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 0;
  }
}

#overlay,
#modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#overlay {
  animation: overlayfadeIn 0.4s forwards;
}

#modal-container {
  animation: fadeIn 0.4s forwards;
}

#overlay.hidden {
  animation: overlayfadeOut 0.4s forwards;
}

#modal-container.hidden {
  animation: fadeOut 0.4s forwards;
}

#overlay {
  background-color: black;
  opacity: 0.7;
}

#modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal {
  display: flex;
  width: 80vw;
  height: 80vh;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  opacity: 1;
  overflow: hidden;

  &.small {
    width: 400px;
    max-width: calc(100vw - 40px);
    height: auto;
    min-height: 180px;
  }

  #list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .modal-title {
    color: darkslategrey;
    font-weight: 700;
    font-size: 1.4em;
    height: 40px;
    margin: 20px;
  }

  &.small .modal-title {
    margin: 10px;
  }

  #prompt-screen {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
  }

  .button {
    place-self: center;
    margin: 5px 10px;
    padding: 5px;
    width: 100px;
    outline: none;
    border: 1px solid darkslategrey;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 3px 6px #0000002d;
  }

  #list-container {
    .list-button:hover {
      box-shadow: 0 1px 2px #0000002d;
      transform: translateY(1px) 0.5s;
    }

    #delete-all-button {
      color: crimson;
      background-color: #fff5f6;
    }
  }

  .button.hidden {
    display: none;
  }

  ul.open-list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100% - 80px);
    overflow: auto;
    text-align: center;
  }

  .open-list li {
    display: inline-flex;
    align-items: center;
    width: 80%;

    /* height: fit-content; */
    text-align: left;
    list-style: none;
    margin: 10px auto;
    height: 4em;
    padding: 0;
    border: 1px solid grey;
    background-color: #f5f6fc;
    box-shadow: 0 3px 6px #0000002d;
    border-radius: 3px;
    transition: transform 0.5s ease-out;
    transform: scaleY(1);
    overflow: hidden;

    &:hover {
      box-shadow: 0 1px 2px #0000002d;
      transform: translateY(1px) 0.5s;
    }
  }

  #list-container {
    li {
      &.hidden {
        animation: disappear 500ms forwards;

        * {
          display: none !important;
        }
      }

      a {
        flex-grow: 1;
        display: block;
        margin: 0;
        padding: 10px;
        text-decoration: none;
        color: darkslategrey;
        font-weight: 700;

        .open-title {
          margin: 5px;
        }
      }
    }

    a .modified-date {
      margin-left: 5px;
      font-size: 0.8em;
      font-weight: 600;
      color: grey;
    }
  }

  form {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  #modal #list-container .modified-date span {
    display: none;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    height: 4em;
    margin: 10px auto;
  }

  100% {
    opacity: 0;
    height: 0;
    margin: 0 auto;
  }
}

.delete-button,
.clear-button {
  cursor: pointer;
  margin: 10px;
  vertical-align: middle;
  border: none;
  color: inherit;
  border-radius: 50%;
  background: transparent;
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 0.6;
}

.delete-button {
  &:focus,
  &:hover {
    opacity: 1;
    background: rgba(128, 128, 128, 0.5);
  }
}

.clear-button {
  &:focus,
  &:hover {
    opacity: 1;
    background: rgba(128, 128, 128, 0.5);
  }
}

.delete-button:active,
.clear-button:active {
  background: rgba(128, 128, 128, 0.9);
}

.delete-button {
  &::before,
  &::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    width: 4px;
    background-color: currentColor;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

#tools-pane-bar {
  .delete-button,
  .clear-button {
    width: 26px;
    height: 26px;
  }
}

.clear-button {
  &::before {
    content: ' ';
    position: absolute;
    top: 4px;
    left: 4px;
    height: 12px;
    width: 12px;
    border: 3px solid currentColor;
    border-radius: 50%;
  }

  &::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 14px;
    width: 3px;
    background-color: currentColor;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.modal-container {
  width: 90%;
  height: 100%;
  display: inline-block;
  margin: 0 auto;
  padding: 0 5%;
  overflow: auto;
}

.modal-tabs {
  display: flex;
  margin: 0 20px;
  padding: 0;

  li {
    display: block;
    width: 30%;
    margin: 0 5px;
    padding: 5px;
    list-style: none;
    border: 1px solid darkgrey;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    background-color: lightgrey;
    cursor: pointer;

    &.active {
      background-color: whitesmoke;
      border-bottom: 1px solid whitesmoke;
      margin-bottom: -1px;
    }
  }
}

#modal {
  .modal-screen-container {
    border: 1px solid darkgrey;
    padding: 10px;
    margin-bottom: 15px;
    min-height: calc(80% - 100px);
    border-radius: 5px;
    box-shadow: 0 3px 6px #0000002d;
    background-color: whitesmoke;
  }

  .tab-content {
    display: none;
    height: 100%;

    &.active {
      display: flex;
      justify-content: center;
    }
  }

  .modal-screen {
    display: flex;
    flex-direction: column;
    flex-grow: 0.8;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  label {
    display: inline-block;
    width: 80%;
    text-align: left;
    margin: 10px;
    font-weight: 600;
  }

  input {
    width: 80%;
    height: 2em;
    border-radius: 5px;
    border: 1px solid darkgrey;
    color: dimgray;
    outline: none;
    padding: 5px;
  }

  textarea {
    width: 80%;
    height: 2em;
    border-radius: 5px;
    border: 1px solid darkgrey;
    color: dimgray;
    outline: none;
    padding: 5px;
    height: 3em;
    resize: vertical;
    min-height: 3em;
  }

  .wide-button,
  #file-input-label {
    margin: 20px;
    padding: 10px;
    width: 50%;
    box-sizing: content-box;
    outline: none;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    border: 1px solid darkslategrey;
    border-radius: 3px;
    box-shadow: 0 3px 6px #0000002d;
    background-color: #efefef;
    cursor: pointer;
  }

  button:hover,
  #file-input-label:hover {
    box-shadow: 0 1px 2px #0000002d;
    transform: translateY(1px) 0.5s;
  }

  .description {
    display: inline-block;
    width: 90%;
    margin: 10px;
    font-size: 0.8em;
    text-align: left;

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    li {
      width: 33%;
    }
  }

  #file-input {
    display: none;
  }

  ul.thumbnails {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
      margin: 20px;
    }

    a {
      text-decoration: none;
      color: unset;
    }

    img {
      width: 120px;
      height: 120px;
    }
  }

  #templates-user ul {
    height: fit-content;
  }

  .modal-message {
    max-width: 100%;
    min-width: calc(100% - 40px);
    padding: 20px;
    text-align: center;

    > div {
      max-width: 100%;
      min-width: calc(100% - 40px);
      padding: 20px;
      text-align: center;
    }
  }

  > #list-container > .modal-message {
    padding-top: 0;

    > div {
      padding-top: 0;
    }
  }
}

#css-preset-menu a.active::after {
  content: ' ✔';
  color: grey;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#tools-pane-loading {
  margin-bottom: 3px;

  &:before {
    animation: spin 1s infinite linear;
    border-radius: 2.5px;
    box-shadow: 6.25px 0px 0 0 rgba(255, 255, 255, 0.2), 5px 3.5px 0 0 rgba(255, 255, 255, 0.4),
      1.75px 5.75px 0 0 rgba(255, 255, 255, 0.6), -1.75px 5.75px 0 0 rgba(255, 255, 255, 0.8),
      -5px 3.5px 0 0 white;
    height: 2.5px;
    width: 2.5px;
    display: block;
    content: '';
  }
}

/* language info */

.language-item {
  position: relative;
}

.tooltip {
  position: absolute;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  top: 0.1em;
  right: -0.3em;
  opacity: 0.2;

  &:hover {
    opacity: 1;
  }
}

.language-info {
  width: calc(100% - 40px);
  margin: 10px;

  h3 {
    margin: 0.5em;
    margin-top: 0;
  }

  > div {
    margin-left: 0.5em;
  }

  ul {
    list-style: none;
    padding-left: 0.5em;
  }

  li {
    margin: 0.5em;
  }
}

/* Code Mirror */

.cm-wrap {
  height: 100%;
}

.cm-scroller {
  overflow: auto;
}

.cm-wrap,
.cm-activeLine,
.cm-gutters {
  background: #001b25 !important;
}

#console-input {
  .cm-gutter {
    display: none !important;
  }

  .cm-gutters #console-input-indicator {
    margin-top: 3px;
    margin-left: 3px;
  }
}

/* Prism JS */

.prism {
  height: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;

  .code-toolbar,
  pre {
    height: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
  }

  code {
    height: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
    overflow: auto;
    padding-bottom: 1em !important;
  }

  pre.codeblock {
    padding: 0.5em !important;
  }
}

/* z-index */

.modal-tabs li.active {
  z-index: 1;
}

#editors #code-run-button {
  z-index: 10;
}

#console .luna-console-error {
  z-index: 40;
}

.copy-button {
  z-index: 900;
}

.dropdown-menu,
.menu-scroller {
  z-index: 1000;
}

#overlay,
#modal-container {
  z-index: 2000;
}

.snackbars {
  z-index: 3000;
}
