---
id: "modules.models.TestResult"
title: "Interface: TestResult"
sidebar_label: "TestResult"
custom_edit_url: null
---

[_modules](../modules/modules.md).[models](../namespaces/modules.models.md).TestResult

## Properties

### duration

• **duration**: `number`

#### Defined in

[src/livecodes/models.ts:677](https://github.com/live-codes/livecodes/blob/0b19ad3/src/livecodes/models.ts#L677)

___

### errors

• **errors**: `string`[]

#### Defined in

[src/livecodes/models.ts:678](https://github.com/live-codes/livecodes/blob/0b19ad3/src/livecodes/models.ts#L678)

___

### status

• **status**: ``"pass"`` \| ``"fail"``

#### Defined in

[src/livecodes/models.ts:679](https://github.com/live-codes/livecodes/blob/0b19ad3/src/livecodes/models.ts#L679)

___

### testPath

• **testPath**: `string`[]

#### Defined in

[src/livecodes/models.ts:680](https://github.com/live-codes/livecodes/blob/0b19ad3/src/livecodes/models.ts#L680)
