.heroBanner {
  overflow: hidden;
  padding: 2rem 0 0;
  position: relative;
  text-align: center;
}

.eaHomepage {
  margin: 2.5em auto 0;
  min-height: 90px;
}

@media (max-width: 997px) {
  .eaHomepage {
    min-height: 110px !important;
  }
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.tryButton {
  background-color: var(--ifm-color-secondary-dark);
}

.tryButton:hover {
  background-color: var(--ifm-color-secondary-darkest);
}

.description {
  margin-bottom: -1em;
  margin-top: 2em;
}
