.features {
  align-items: center;
  display: flex;
  padding: 1rem 0;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.left {
  text-align: left;
}

.editorHint {
  justify-self: flex-start;
  margin: 1em;
  text-align: start;
  width: 90%;
}

.padding {
  padding-bottom: 1em;
}

.steps {
  background-color: var(--ifm-pre-background);
  border: 1px solid grey;
  border-radius: 3px;
  margin-bottom: 2em;
  padding: 0.5em;
  padding-left: 2em;
}

.border {
  border: 1px solid grey;
  border-radius: 3px;
  overflow: hidden;
  padding: 0;
}

.border > * {
  margin: 0 !important;
}

.featureSvg {
  height: 100px;
  margin: 1em;
  width: 100px;
}

.rowLight {
  background-color: rgb(250, 250, 250);
}

.rowDark {
  background-color: var(--ifm-color-secondary-lighter);
}

.carousel {
  max-width: 800px;
}

.buttons > * {
  margin: 1em;
  width: 13em;
}

.finePrint {
  font-size: 0.7em;
  margin-bottom: -2em;
  margin-top: 2em;
  text-align: center;
}
