<div id="resources-container" class="modal-container">
  <div class="modal-title">External Resources</div>
  <div id="resources-screen-container" class="modal-screen-container">
    <div class="modal-screen">
      <label for="external-stylesheets">External Stylesheets</label>
      <textarea
        id="external-stylesheets"
        placeholder="https://"
        data-resource="stylesheets"
      ></textarea>
      <label for="external-scripts">External Scripts</label>
      <textarea id="external-scripts" placeholder="https://" data-resource="scripts"></textarea>
      <button id="resources-load-btn" class="wide-button">Load</button>
    </div>
    <div class="description">
      Add URLs to CSS and/or JS files to be added to the page. Put each URL in a separate line.
    </div>
  </div>
</div>
