---
id: "TestResult"
title: "Interface: TestResult"
sidebar_label: "TestResult"
sidebar_position: 0
custom_edit_url: null
---

## Properties

### duration

• **duration**: `number`

#### Defined in

[models.ts:737](https://github.com/live-codes/livecodes/blob/3e2b51e/src/lib/models.ts#L737)

___

### errors

• **errors**: `string`[]

#### Defined in

[models.ts:738](https://github.com/live-codes/livecodes/blob/3e2b51e/src/lib/models.ts#L738)

___

### status

• **status**: ``"pass"`` \| ``"fail"``

#### Defined in

[models.ts:739](https://github.com/live-codes/livecodes/blob/3e2b51e/src/lib/models.ts#L739)

___

### testPath

• **testPath**: `string`[]

#### Defined in

[models.ts:740](https://github.com/live-codes/livecodes/blob/3e2b51e/src/lib/models.ts#L740)
