.heroBanner {
  overflow: hidden;
  padding: 4rem 0;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.tryButton {
  background-color: var(--ifm-color-secondary-dark);
}

.tryButton:hover {
  background-color: var(--ifm-color-secondary-darkest);
}

.description {
  margin-bottom: -1em;
  margin-top: 2em;
}
