.content {
  align-items: center;
  color: #3c3c3c54;
  display: flex;
  justify-content: center;
}

:global .sponsors {
  width: 100%;
  padding: 1em;
  align-self: start;
  text-align: left;
}

:global .sponsors .sponsors-title {
  font-weight: bold;
}

:global .sponsors ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:global .sponsors a {
  display: flex;
  align-items: center;
  color: #3c3c3c54;
  justify-content: center;
  height: 60px;
  background-color: #f9f9f9;
  margin: 0.5em 0;
  text-decoration: none;
  border: 1px solid #3c3c3c75;
  border-radius: 2px;
}
