html,
body,
#container,
#toolbar,
#editor-container,
#editors,
#editors > div,
#result,
#result iframe,
#select-editor,
#select-editor > ul,
li.editor-title {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
}

#container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#toolbar {
  display: flex;
  height: 40px;
  width: 100%;
  border-bottom: 3px solid #444857;
  position: relative;
  background: #001b25;
  color: #eeeeee;
}

#toolbar #project-title {
  width: 30%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 10px;
}
#toolbar #project-title.unsaved::after {
  content: ' *';
  white-space: pre;
  margin: 5px;
}
#toolbar #project-title.unsaved::before {
  content: '* ';
  white-space: pre;
  margin: 5px;
  visibility: hidden;
}
@media only screen and (max-width: 1080) {
  .dropdown-menu {
    font-size: 0.9em;
  }
  #toolbar #project-title {
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  #toolbar #project-title {
    display: none;
  }
  #toolbar #select-editor {
    width: calc(80% - 70px);
  }
  #logo {
    margin: 3px 5px;
  }
  .dropdown-menu {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 480px) {
  #toolbar {
    font-size: 0.8em;
  }
  #toolbar #run-button {
    display: none;
  }
}

#toolbar #buttons {
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  display: flex;
}

#buttons > button {
  display: block;
  border: 0;
  margin: auto;
  margin-top: 3px;
  width: 50px;
  height: 35px;
  border-radius: 3px;
  background-color: #5a6074da;
  cursor: pointer;
  outline: none;
}

#buttons > button:hover {
  background-color: #777c8dda;
}

/* mouse down */
#buttons > button:active:hover {
  background-color: #5a6074da;
}

#buttons > button img {
  display: block;
  margin: auto;
}

#editor-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#editors {
  flex-grow: 1;
  background: #1e1e1e;
  height: 100%;
  resize: both;
  top: 0;
  overflow: hidden;
}

#editors > div {
  height: 100%;
  width: 100%;
  resize: vertical;
  position: relative;
}

.copy-button {
  display: none;
  position: absolute;
  top: 5px;
  right: 20px;
  padding: 5px;
  border: 0;
  border-radius: 3px;
  z-index: 900;
  background-color: #444855b0;
  color: #eeeeee;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  cursor: pointer;
  outline: none;
}

#editors > div:hover .copy-button {
  display: unset;
}

#output {
  height: calc(100vh - 40px);
  overflow: hidden;
}
#result {
  resize: both;
}

#result iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

#console-bar {
  justify-content: start;
  color: #eeeeee;
  font-size: 12px;
}
#console-title {
  cursor: pointer;
  background-color: #5c616e;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#console {
  height: 100%;
  overflow: auto;
}
#console .luna-object-viewer {
  overflow: hidden;
}

.gutter.gutter-vertical {
  cursor: ns-resize;
}

.gutter.gutter-horizontal {
  cursor: ew-resize;
}

.gutter {
  background-color: #444857;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.gutter #handle {
  width: 4px;
  height: 30px;
  border-radius: 2px;
  background-color: #e7e8f1;
}

#logo {
  width: 50px;
  margin: 3px 10px;
  padding: 0;
}

#logo a {
  text-decoration: none;
}

#select-editor {
  position: relative;
  color: #eeeeee;
  margin: 0;
  height: 100%;
  width: calc(50% - 70px);
}
#select-editor > ul {
  margin: 0;
  width: 100%;
  height: 40px;
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
li.editor-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  border: 2px solid #444857;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 32%;
  cursor: pointer;
}

li.editor-title.active {
  background-color: #444857;
}

li.editor-title > button {
  position: absolute;
  right: 5%;
  text-decoration: none;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 3px;
  background-color: #5a6074da;
  cursor: pointer;
  outline: none;
}

li.editor-title > button:hover {
  background-color: #777c8dda;
}

li.editor-title.active > button {
  background-color: #001b25d3;
}

li.editor-title.active > button:hover {
  background-color: #213c46d3;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 35px;
  z-index: 1000;
  width: 100%;
  min-width: 150px;
  max-width: 45vw;
  padding: 5px 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

li.editor-title > button:focus + .dropdown-menu,
#settings-button:focus + #settings-menu-container,
#settings-menu-container:hover,
#settings-button:focus + #settings-menu-container .dropdown-menu,
#settings-menu:hover {
  display: block;
}

.dropdown-menu li > * {
  display: block;
  text-decoration: none;
  color: #222;
  padding: 5px 15px;
}

.dropdown-menu li:hover {
  background-color: #e7e8f1;
}

#settings-menu-container {
  display: none;
  position: absolute;
  top: 40px;
  right: 10px;
  height: calc(100vh - 40px);
  width: 600px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#settings-menu-container::-webkit-scrollbar {
  display: none;
}

#settings-menu {
  top: 0;
  right: 0;
  left: unset;
  margin-top: 0;
  width: 250px;
}

#settings-menu li,
#settings-menu li > * {
  position: relative;
}

#settings-menu li > a,
#settings-menu li > label {
  margin-left: 7px;
}

.submenu {
  display: none !important;
  position: absolute !important;
  right: 98%;
  left: unset;
  top: 0;
  margin: 0 !important;
  padding: 0 !important;
}

#open-link:hover + #open-list,
#open-list:hover,
#settings-menu a:hover + .submenu,
#settings-menu i:hover + a + .submenu,
.submenu:hover {
  display: block !important;
}

i.arrow {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px 15px 10px 10px;
  position: absolute !important;
  left: 0;
  top: 0.5em;
  text-decoration: none;
  color: grey;
}
i.arrow.left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

i.arrow:before,
i.arrow:after {
  border-right: 2px solid;
  content: '';
  display: block;
  height: 8px;
  margin-top: -6px;
  position: absolute;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 10px;
  top: 50%;
  width: 0;
}

i.arrow:after {
  margin-top: -1px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (max-width: 768px) {
  #settings-menu li > a,
  #settings-menu li > label {
    margin-left: 0;
  }
  i.arrow {
    top: 1.25em;
    zoom: 60%;
  }
}

.switch {
  cursor: pointer;
}

.switch div {
  position: absolute;
  display: block;
  width: 34px;
  height: 18px;
  right: 1em;
  top: 0.4em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #2196f3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.switch .slider.round {
  border-radius: 16px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

#notifications {
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  padding: 10px;
  color: #2e2e2e;
  background-color: #f5f6fc;
  border: 1px solid black;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 6px 12px #0000002d;
  -webkit-animation: slideIn 0.4s;
  animation: slideIn 0.4s forwards;
}

#notifications.hidden {
  bottom: -200px;
  -webkit-animation: slideOut 0.4s;
  animation: slideOut 0.4s forwards;
}

#notifications.error {
  color: crimson;
  background-color: #fff5f6;
}

@-webkit-keyframes slideIn {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes slideOut {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -200px;
    opacity: 0;
  }
}
@keyframes slideOut {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -200px;
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes overlayfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes overlayfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes overlayfadeOut {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}
@keyframes overlayfadeOut {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}

#overlay,
#modal-container {
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#overlay {
  animation: overlayfadeIn 0.4s forwards;
}
#modal-container {
  animation: fadeIn 0.4s forwards;
}
#overlay.hidden {
  animation: overlayfadeOut 0.4s forwards;
}
#modal-container.hidden {
  animation: fadeOut 0.4s forwards;
}
#overlay {
  background-color: black;
  opacity: 0.7;
}
#modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal {
  display: flex;
  width: 80vw;
  height: 80vh;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  opacity: 1;
  overflow: hidden;
}
#modal.small {
  width: 400px;
  height: 180px;
}
#modal #list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#modal .modal-title {
  color: darkslategrey;
  font-weight: 700;
  font-size: 1.4em;
  height: 40px;
  margin: 20px;
}
#modal.small .modal-title {
  margin: 10px;
}
#modal #prompt-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#modal .buttons {
  display: flex;
  justify-content: space-evenly;
}

#modal .button {
  place-self: center;
  margin: 5px 10px;
  padding: 5px;
  width: 100px;
  outline: none;
  border: 1px solid darkslategrey;
  border-radius: 3px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 3px 6px #0000002d;
}

#modal #list-container .list-button:hover {
  box-shadow: 0 1px 2px #0000002d;
  transform: translateY(1px) 0.5s;
}

#modal #list-container #delete-all-button {
  color: crimson;
  background-color: #fff5f6;
}

@media only screen and (max-width: 768px) {
  #modal #list-container .modified-date span {
    display: none;
  }
}

#modal .button.hidden {
  display: none;
}

#modal ul.open-list {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 80px);
  overflow: auto;
  text-align: center;
}

#modal .open-list li {
  display: inline-flex;
  align-items: center;
  width: 80%;
  /* height: fit-content; */
  text-align: left;
  list-style: none;
  margin: 10px auto;
  height: 4em;
  padding: 0;
  border: 1px solid grey;
  background-color: #f5f6fc;
  box-shadow: 0 3px 6px #0000002d;
  border-radius: 3px;
  transition: transform 0.5s ease-out;
  transform: scaleY(1);
  overflow: hidden;
}
#modal .open-list li:hover {
  box-shadow: 0 1px 2px #0000002d;
  transform: translateY(1px) 0.5s;
}
@keyframes disappear {
  0% {
    opacity: 1;
    height: 4em;
    margin: 10px auto;
  }

  100% {
    opacity: 0;
    height: 0;
    margin: 0 auto;
  }
}
#modal #list-container li.hidden {
  animation: disappear 500ms forwards;
}

#modal #list-container li.hidden * {
  display: none !important;
}

#modal #list-container li a {
  flex-grow: 1;
  display: block;
  margin: 0;
  padding: 10px;
  text-decoration: none;
  color: darkslategrey;
  font-weight: 700;
}

#modal #list-container li a .open-title {
  margin: 5px;
}

#modal #list-container a .modified-date {
  margin-left: 5px;
  font-size: 0.8em;
  font-weight: 600;
  color: grey;
}

#modal #list-container li .delete-button {
  cursor: pointer;
  margin: 10px;
  vertical-align: middle;
  border: none;
  color: inherit;
  border-radius: 50%;
  background: transparent;
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 0.6;
}

#modal #list-container li .delete-button:focus,
#modal #list-container li .delete-button:hover {
  opacity: 1;
  background: rgba(128, 128, 128, 0.5);
}

#modal #list-container li .delete-button:active {
  background: rgba(128, 128, 128, 0.9);
}

#modal #list-container li .delete-button::before,
#modal #list-container li .delete-button::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 4px;
  background-color: currentColor;
}

#modal #list-container li .delete-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#modal #list-container li .delete-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-container {
  width: 90%;
  height: 100%;
  display: inline-block;
  margin: 0 auto;
  padding: 0 5%;
  overflow: auto;
}
.modal-tabs {
  display: flex;
  margin: 0 20px;
  padding: 0;
}
.modal-tabs li {
  display: block;
  width: 30%;
  margin: 0 5px;
  padding: 5px;
  list-style: none;
  border: 1px solid darkgrey;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
  background-color: lightgrey;
  cursor: pointer;
}

.modal-tabs li.active {
  background-color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
  z-index: 1;
  margin-bottom: -1px;
}

#modal .modal-screen-container {
  border: 1px solid darkgrey;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 6px #0000002d;
  background-color: whitesmoke;
}

#modal .tab-content {
  display: none;
  height: 100%;
}
#modal .tab-content.active {
  display: flex;
  justify-content: center;
}

#modal .modal-screen {
  display: flex;
  flex-direction: column;
  flex-grow: 0.8;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
}

#modal label {
  display: inline-block;
  width: 80%;
  text-align: left;
  margin: 10px;
  font-weight: 600;
}
#modal input,
#modal textarea {
  width: 80%;
  height: 2em;
  border-radius: 5px;
  border: 1px solid darkgrey;
  color: dimgray;
  outline: none;
  padding: 5px;
}
#modal textarea {
  height: 3em;
  resize: vertical;
  min-height: 3em;
}
#modal .wide-button,
#modal #file-input-label {
  margin: 20px;
  padding: 10px;
  width: 50%;
  outline: none;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  border: 1px solid darkslategrey;
  border-radius: 3px;
  box-shadow: 0 3px 6px #0000002d;
  background-color: #efefef;
  cursor: pointer;
}

#modal button:hover,
#modal #file-input-label:hover {
  box-shadow: 0 1px 2px #0000002d;
  transform: translateY(1px) 0.5s;
}

#modal .description {
  display: inline-block;
  width: 90%;
  margin: 10px;
  font-size: 0.8em;
  text-align: left;
}
#modal .description ul {
  display: flex;
  flex-wrap: wrap;
}
#modal .description li {
  width: 33%;
}

#modal #file-input {
  display: none;
}

#modal ul.thumbnails {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#modal ul.thumbnails li {
  margin: 20px;
}
#modal ul.thumbnails a {
  text-decoration: none;
  color: unset;
}

#modal ul.thumbnails img {
  width: 120px;
  height: 120px;
}

#modal #templates-user ul {
  height: fit-content;
}

#modal .modal-message,
#modal .modal-message > div {
  width: 100%;
  padding: 20px;
  text-align: center;
}

#css-preset-menu a.active::after {
  content: ' ✔';
  color: grey;
}
