.features {
  align-items: center;
  display: flex;
  padding: 2rem 0;
  width: 100%;
}

.center {
  justify-content: center;
}

.editorHint {
  justify-self: flex-start;
  margin: 1em;
  width: 90%;
}

.featureSvg {
  height: 100px;
  margin: 1em;
  width: 100px;
}

.rowDark {
  background-color: var(--ifm-color-secondary-lightest);
}
