name: DockerHub Publish

on:
  push:
    branches:
      - docker

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ vars.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      # - name: Build and push
      #   uses: docker/build-push-action@v6
      #   with:
      #     push: true
      #     tags: hatemhosny/livecodes:latest

      - name: Build and push
        run: |
          echo ${{secrets.DOCKERHUB_TOKEN}} | docker login --username ${{ vars.DOCKERHUB_USERNAME }} --password-stdin
          docker build -t ${{ vars.DOCKERHUB_USERNAME }}/livecodes:latest .
          docker push ${{ vars.DOCKERHUB_USERNAME }}/livecodes:latest
